@font-face {
    font-family: 'Autumn';
    src: url('Autumn.woff2') format('woff2'),
        url('Autumn.woff') format('woff'),
        url('Autumn.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

