@import url('https://fonts.googleapis.com/css?family=Montserrat:300|Work+Sans:300&display=swap');

body{
    margin: 0;
    font-size: 1.2em;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    color: rgb(2, 5, 4);
    background-color: #52de97;
}

h1, h2, h3, h4, h5, h6{
    font-size: 150%;
    margin: 0.2em;
}

header{
    background: #c0ffb3;
    padding: 1em;
}

nav, header h1{
    display: inline-block;
}

nav ul{
    list-style: none;
    display: inline-block;
}

nav li{
    display: inline-block;
    margin-left: 3em;
}

nav li a{
    color: rgb(2, 5, 4);
    font-size: 90%;
    text-decoration: none;
    cursor: pointer;
}

canvas{
    background-color: #3c9d9b;
}

article:nth-child(1){
    background-color: #52de97;
    text-align: center;
}

article:nth-child(2){
    padding: 1em;
    background-color: #52de97;
}

input[type=file]{
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    color: rgb(2, 5, 4);
}

input[type=range]{
    width: 90%;
}

button{
    border: none;
    background-color: white;
    box-shadow: 1px 1px 1px black;
}