:root{
    --color-background: white;
    --color-primary: gray;
    --color-hover: #e7e7e7;
    --color-contrast: #000000;
    --color-link: dodgerblue;
}

@font-face {
    font-family: "Typewriter";
    src: url("../fonts/MonospaceTypewriter.ttf") format("ttf"),
    url("../fonts/monospacetypewriter-webfont.woff") format("woff"),
    url("../fonts/monospacetypewriter-webfont.woff2") format("woff2");
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*, body, html{
    font-family: "Typewriter", Helvetica, Arial, sans-serif;
}

body{
    background-color: var(--color-background);
    color: var(--color-contrast);
}

button{
    border: 1.5px solid var(--color-primary);
    background-color: var(--color-background);
    color: var(--color-contrast);
    padding: 2px;
    border-radius: 4px;

    transition: background-color 500ms;
}

button:hover{
    background-color: var(--color-hover);
}

a, a:visited{
    color: var(--color-link);
}

h2{
    text-align: center;
    margin: 2rem 0;
}

span.big{
    font-size: 150%;
}

main p{
    text-align: center;
}

/*Universe Navigation*/

.universe-navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.universe-navigation > div:not(.universe){
    width: 20%;
    text-align: center;
}

.universe-navigation button{
    font-size: 200%;
    width: 1.5em;
    height: 1.5em;
}

/*Universe*/

.universe{
    text-align: center;
    font-size: 110%;
    line-height: 1.75em;
}

/*Tab Navigation*/

.tab-navigation{
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
}

.tab-navigation button{
    font-size: 140%;
    margin: 0 1rem;
}

/*Shrinker Table*/

table.shrinker-table{
    width: 100%;
    border-spacing: 0;
}

table.shrinker-table th{
    border-bottom: 1px solid var(--color-contrast);
}

table.shrinker-table tr{
    text-align: center;
}

table.shrinker-table td{
    width: 20%;
    padding: 0.25rem 0;
}

table.shrinker-table tfoot td{
    text-align: center;
}

table.shrinker-table button{
    min-width: 70%;
}

/*Upgrades*/

.upgrade-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.upgrade-container .upgrade{
    width: 30%;
    margin: 1rem 0;
}

/*Universe Layer Navigation*/

.universe-layer-navigation .tabs{
    display: flex;
    justify-content: center;
}

.universe-layer-navigation .tabs button{
    font-size: 110%;
    margin: 0 1rem;
}

/*Settings*/

.notation-select *, .theme-select *{
    margin: 1rem 0;
    margin-right: 1rem;
}

/*Footer*/

footer{
    position: fixed;
    width: 100%;
    top: 95vh;
    left: 0;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    margin: 0 1rem;
}