<!DOCTYPE html>
<html lang="en">

<head>
    <title>Yet another Merge Game...</title>

    <link id="gamestyle" rel="stylesheet/less" href="css/style.standard.less" />

    <script>
        less = {
            logLevel: 0
        };
    </script>

    <script src="js/lib/less.js"></script>
    <!--<script src="js/lib/vue-dev.js"></script>-->
    <script src="js/lib/vue-prod.js"></script>

    <meta charset="utf-8" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="theme-color" content="#2e99e6">
    <meta name="title" content="Yet another Merge Game" />
    <meta name="description" content="A Merge Game with various upgrades and prestige." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="indie, game, idle, incremental, merge, merge game, yet, another, yamg" />
    <meta name="url" content="https://veprogames.github.io/yet-another-merge-game/" />
    <meta name="og:title" content="Yet another Merge Game" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://veprogames.github.io/yet-another-merge-game/" />
    <meta name="og:description" content="A Merge Game with various upgrades and prestige." />
    <meta name="og:image" content="https://veprogames.github.io/yet-another-merge-game/images/cover/cover2.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Yet another Merge Game" />
    <meta name="twitter:description" content="A Merge Game with various upgrades and prestige." />
    <meta name="twitter:image" content="https://veprogames.github.io/yet-another-merge-game/images/cover/cover2.png" />
    <meta name="twitter:site" content="@veprogames" />
    <meta name="twitter:creator" content="@veprogames" />
</head>

<body>
    <div id="loading" class="overlay black">
        <p>Preloading</p>
    </div>
    <div id="app">
        <loading-screen :loading="loading"></loading-screen>

        <game-header></game-header>

        <div class="flex-center-center">
            <canvas ref="mergedisplay" id="mergedisplay" width="1024" height="768"
                :class="{'tabs-shown': settings.tabsShown}"></canvas>
        </div>
        <div class="game-container-side left" :class="{'tabs-shown': settings.tabsShown}">
            <tab-container></tab-container>
        </div>
        <div class="game-container-side right" :class="{'tabs-shown': settings.tabsShown}">
            <utility-container></utility-container>
        </div>

        <div class="game-container" :class="{'tabs-shown': settings.tabsShown}">
            <div class="game-container-header flex-start flex-center-v flex-gap">
                <button class="toggle-tabs" @click="settings.tabsShown = !settings.tabsShown">
                    <i v-if="settings.tabsShown" class="fas fa-times"></i>
                    <i v-else class="fas fa-caret-up"></i>
                </button>
                <help-button></help-button>
                <resource-overview></resource-overview>
            </div>

            <tab-upgrades v-if="settings.currentTab === 'upgrades'"></tab-upgrades>
            <tab-abilities v-if="settings.currentTab === 'abilities'"></tab-abilities>
            <tab-prestige v-if="settings.currentTab === 'prestige'"></tab-prestige>
            <mergepedia v-if="settings.currentTab === 'mergepedia'"></mergepedia>
            <tab-energy-cores v-if="settings.currentTab === 'energycores'"></tab-energy-cores>
            <tab-quantum-processors v-if="settings.currentTab === 'quantumprocessor'"></tab-quantum-processors>
            <tab-isotopes class="center" v-if="settings.currentTab === 'isotopes'"></tab-isotopes>
            <tab-molecules v-if="settings.currentTab === 'molecules'"></tab-molecules>
            <tab-settings v-if="settings.currentTab === 'settings'"></tab-settings>
        </div>
    </div>

    <script type="text/javascript" src="js/lib/break-infinity.min.js"></script>
    <script type="text/javascript" src="js/lib/adnotations.min.js"></script>
    <script type="text/javascript" src="js/lib/adcommunitynotations.min.js"></script>

    <script src="js/classes/utils.js"></script>
    <script src="js/classes/vue-utils.js"></script>
    <script src="js/classes/window-manager.js"></script>
    <script src="js/classes/random.js"></script>

    <script src="js/data/filters.js"></script>

    <script src="js/classes/save-manager.js"></script>
    <script src="js/classes/globaleventhandler.js"></script>
    <script src="js/classes/input-manager.js"></script>
    <script src="js/classes/floatingtext.js"></script>
    <script src="js/classes/image-particle.js"></script>
    <script src="js/classes/mergeobject.js"></script>
    <script src="js/classes/upgrade.js"></script>
    <script src="js/classes/energycore.js"></script>
    <script src="js/classes/processorcore.js"></script>
    <script src="js/classes/molecule.js"></script>

    <script src="js/classes/content/content-matter.js"></script>
    <script src="js/classes/content/content-prestige.js"></script>
    <script src="js/classes/content/content-energy-cores.js"></script>
    <script src="js/classes/content/content-quantum-processors.js"></script>
    <script src="js/classes/content/content-isotopes.js"></script>
    <script src="js/classes/content/content-molecules.js"></script>

    <script src="js/classes/canvas-utils.js"></script>
    <script src="js/classes/game-background.js"></script>
    <script src="js/classes/resource-display.js"></script>

    <script src="js/components/ui/loading-screen.js"></script>
    <script src="js/components/ui/game-header.js"></script>
    <script src="js/components/ui/progress-bar.js"></script>
    <script src="js/components/ui/tab-container.js"></script>
    <script src="js/components/ui/utility-container.js"></script>
    <script src="js/components/ui/help-button.js"></script>
    <script src="js/components/ui/ui-toggle.js"></script>
    <script src="js/components/ui/resource-view.js"></script>
    <script src="js/components/ui/resource-overview.js"></script>

    <script src="js/components/windows/window.js"></script>
    <script src="js/components/windows/help-windows.js"></script>
    <script src="js/components/windows/window-prestige.js"></script>
    <script src="js/components/windows/core-reset-window.js"></script>
    <script src="js/components/windows/save-management-window.js"></script>
    <script src="js/components/windows/hard-reset-window.js"></script>
    <script src="js/components/windows/support-window.js"></script>
    <script src="js/components/windows/credits-window.js"></script>

    <script src="js/components/content/merger.js"></script>
    <script src="js/components/content/mergepedia-entry.js"></script>
    <script src="js/components/content/mergepedia.js"></script>
    <script src="js/components/content/energy-core.js"></script>
    <script src="js/components/content/processor-core.js"></script>
    <script src="js/components/content/molecule.js"></script>

    <script src="js/components/upgrades/upgrade.js"></script>
    <script src="js/components/upgrades/upgrade-row.js"></script>

    <script src="js/components/tabs/tab-upgrades.js"></script>
    <script src="js/components/tabs/tab-abilities.js"></script>
    <script src="js/components/tabs/tab-prestige.js"></script>
    <script src="js/components/tabs/tab-energy-cores.js"></script>
    <script src="js/components/tabs/tab-quantum-processors.js"></script>
    <script src="js/components/tabs/tab-isotopes.js"></script>
    <script src="js/components/tabs/tab-molecules.js"></script>
    <script src="js/components/tabs/tab-settings.js"></script>

    <script src="js/data/data.js"></script>
    <script src="js/data/functions.js"></script>
    <script src="js/main.js"></script>
</body>

</html>