{{ define "main" }}
    <article>
        <section>
            {{ .Content }}
        </section>
        <section>
            <h2>New Posts</h2>

            <ul class="list">
                {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
                    <li>
                        <a href="{{.Permalink}}">{{.Title}}</a><br/>
                        <time>{{.Date.Format "2006-01-02"}}</time>
                        <small>{{.Content | truncate 100}}</small>
                    </li>
                {{ end }}
            </ul>
        </section>
    </article>
{{ end }}