:root{
    --color-background: white;
    --color-primary: gray;
    --color-hover: #e7e7e7;
    --color-contrast: #000000;
    --color-link: dodgerblue;
}

@font-face {
    font-family: "Typewriter";
    src: url("../fonts/MonospaceTypewriter.ttf") format("ttf"),
    url("../fonts/monospacetypewriter-webfont.woff") format("woff"),
    url("../fonts/monospacetypewriter-webfont.woff2") format("woff2");
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*, body, html{
    font-family: "Typewriter", Helvetica, Arial, sans-serif;
}

body{
    background-color: var(--color-background);
    color: var(--color-contrast);
}

button{
    border: 1.5px solid var(--color-primary);
    background-color: var(--color-background);
    color: var(--color-contrast);
    padding: 2px;
    border-radius: 4px;

    transition: background-color 500ms, filter 500ms;
}

button:hover:not(:disabled){
    background-color: var(--color-hover);
}

button:active:not(:disabled){
    filter: brightness(1.75);
}

button:disabled{
    filter: opacity(0.4);
}

a, a:visited{
    color: var(--color-link);
}

h2{
    text-align: center;
    margin: 2rem 0;
}

span.big{
    font-size: 150%;
}

main{
    padding-bottom: 5vh;
}

main p{
    text-align: center;
}

textarea{
    background-color: var(--color-background);
    border: 1px solid var(--color-primary);
    color: var(--color-contrast);
}

/*Universe Navigation*/

.universe-navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.universe-navigation > div:not(.universe){
    width: 20%;
    text-align: center;
}

.universe-navigation button{
    font-size: 160%;
    padding: 0.5rem;
}

/*Universe*/

.universe{
    text-align: center;
    font-size: 110%;
    line-height: 1.75em;
}

/*Tab Navigation*/

.tab-navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5rem 0;
}

.tab-navigation button{
    font-size: 140%;
    margin: 0.3rem 1rem;
}

/*Shrinker Table*/

table.shrinker-table{
    width: 100%;
    border-spacing: 0;
}

table.shrinker-table th{
    border-bottom: 1px solid var(--color-contrast);
}

table.shrinker-table tr{
    text-align: center;
}

table.shrinker-table td{
    width: 20%;
    padding: 0.25rem 0;
}

table.shrinker-table tfoot td{
    text-align: center;
}

table.shrinker-table button{
    min-width: 70%;
}

/*Upgrades*/

.upgrade-container, .automator-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.upgrade-container .upgrade{
    width: 30%;
    margin: 1rem 0;
}

.upgrade-container .upgrade.maxed{
    background-color: var(--color-primary);
}

/*Universe Layer Navigation*/

.universe-layer-navigation .tabs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.universe-layer-navigation .tabs button{
    font-size: 110%;
    margin: 0 1rem;
    margin-bottom: 0.5rem;
}

/*Heat Death*/

.theta-layer .reset{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    padding: 0 1rem;
}
.theta-layer .reset p{
    padding: 0 1rem;
}

/*Automator*/

.automator-container{
    padding-top: 1rem;
}

.automator{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.automator button:first-child{
    width: 100%;
    padding: 0.5rem;
    min-height: 9em;
}

.automator .toggle{
    font-size: 150%;
    margin-top: 0.5rem;
}

/*Winning Screen*/

.won{
    font-size: 150%;
}

.won h3{
    font-size: 140%;
    text-align: center;
    margin: 2rem 0;
}

.won p{
    margin-bottom: 1em;
}

/*Settings*/

.notation-select, .theme-select{
    text-align: center;
    font-size: 150%;
}

.notation-select .selection, .theme-select .selection{
    display: flex;
    justify-content: center;
}

.notation-select .selection *, .theme-select .selection *{
    margin: 0.2rem 0.7rem;
    padding: 0.25rem;
}

.saving{
    display: flex;
    justify-content: center;
    padding: 0 3rem;
    margin-top: 1rem;
}

.saving p{
    padding: 0 1rem;
    text-align: left;
}

.saving button{
    width: 10rem;
}

.export{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.export .buttons{
    display: flex;
    justify-content: center;
}

.export .buttons button{
    margin: 1rem;
    font-size: 130%;
}

.export textarea{
    width: 80%;
}

.hard-reset{
    text-align: center;
    font-size: 90%;
    margin-top: 3rem;
}

.option{
    margin: 1rem 2rem;
}

/*Footer*/

footer{
    position: fixed;
    width: 100%;
    top: 95vh;
    left: 0;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

footer a{
    margin: 0 1rem;
    pointer-events: all;
}