* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #2d2d2d, #000000);
  color: white;
}

button {
  border: none;
  border-radius: 8px;
  background: #939393;
  transition: 0.5s;
  color: white;
  box-shadow: inset 0 0 15px 3px black;
}

button:hover{
  filter: hue-rotate(60deg);
  border-radius: 12px;
}

button:active{
  transform: scale(1.1);
}

input {
  background-color: #000000;
  border: 1px solid #8a3bff;
  border-radius: 8px;
  padding-left: 3px;
  transition: 0.5s;
  color: white;
}

input:hover{
  background-color: #4b0041;
}

#app {
  margin: auto;
}

.currency {
  border: 1px solid gray;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: inset 0px 0px 20px 2px black;
  background-color: #150077;
}

.prestige {
  text-align: center;
  border: 1px solid gray;
  padding: 20px;
  background: linear-gradient(180deg, #001f3e, #004080);
  transition: 0.5s;
  border-radius: 16px;
  border: none;
  box-shadow: inset 0 0 20px 2px black;
  margin: 6px 0px;
}

.prestige:hover{
    filter: hue-rotate(60deg) saturate(1.5);
}

.generators-container {
  display: flex;
  flex-direction: column;
}

.generator {
  border-radius: 24px;
  background: linear-gradient(180deg, #444444, rgb(0, 0, 0));
  text-align: center;
  box-shadow: inset 0 0 20px 2px black;
  margin: 4px 0px;
  border: 1px solid gray;
  padding: 3px;
}

.generator-amount {
  color: #00a4a0;
  font-weight: bold;
}

.generator-multiplier {
  color: red;
  font-weight: bold;
}

.generator-cost {
  color: green;
  font-weight: bold;
}