:root{
    --color-background: #d900ff;
    --color-primary: #00ac09;
    --color-hover: #0002d9;
    --color-contrast: #ffbf00;
    --color-link: #00ffc8;
}

*, body, html{
    font-family: "Comic Sans MS", serif;
}