:root{
    --color-background: #000000;
    --color-primary: #ffff00;
    --color-hover: #323200;
    --color-contrast: #ffffff;
    --color-link: #00ffff;
}

.upgrade.maxed{
    color: var(--color-background);
}