:root{
    --color-background: #000a00;
    --color-primary: #045600;
    --color-hover: #003902;
    --color-contrast: #199400;
    --color-link: #00ff00;
}

*, body, html{
    font-family: "Lucida Console", monospace;
}