<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link id="theme" rel="stylesheet" href="css/themes/light.css"/>
    <title>Universe Shrinker</title>
</head>
<body>
<div id="app">
    <main>
        <div class="universe-navigation">
            <div><button @click="decreaseUniverseLevel()" v-if="currentUniverseLevel > 0">🡄</button></div>
            <universe :universe="universe"></universe>
            <div><button @click="increaseUniverseLevel()" v-if="currentUniverseLevel < highestUniverseLevel">🡆</button></div>
        </div>
        <p>You have <span class="big">{{formatNumber(rhoParticles, 2, 0, 1e9)}}</span> Rho-Particles (&rho;<sub>p</sub>)</p>
        <p>You get <span class="big">{{formatNumber(getRhoProduction(), 2, 0, 1e9)}}</span> &rho;<sub>p</sub> per Second</p>
        <div class="tab-navigation">
            <button @click="settings.tab = 'shrinkers'">Shrinkers</button>
            <button @click="settings.tab = 'rhoupgrades'">Rho Upgrades</button>
            <button @click="settings.tab = 'universelayers'" v-if="universeLayersUnlocked() > 0">Universe Layers</button>
            <button @click="settings.tab = 'options'">Options</button>
            <button @click="maxAll()">Max All (M)</button>
        </div>
        <div v-if="settings.tab === 'shrinkers'">
            <shrinker-table :shrinkers="shrinkers"></shrinker-table>
        </div>
        <div v-if="settings.tab === 'rhoupgrades'">
            <upgrade-container :upgrades="rhoUpgrades"></upgrade-container>
        </div>
        <div v-if="settings.tab === 'universelayers'">
            <universe-layer-navigation :layers="universeLayers"></universe-layer-navigation>
        </div>
        <div v-if="settings.tab === 'options'">
            <notation-select></notation-select>
            <theme-select></theme-select>
            <button @click="saveGame()">Save Game</button>
        </div>
    </main>
    <footer>
        <a target="_blank" href="https://discord.gg/75d7Jj5">Discord</a>
        <a target="_blank" href="https://www.cook1eegames.feedia.co">Homepage</a>
    </footer>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/break_infinity.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@antimatter-dimensions/notations"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="js/classes/universe.js"></script>
<script src="js/classes/shrinker.js"></script>
<script src="js/classes/upgrade.js"></script>
<script src="js/classes/universeresource.js"></script>
<script src="js/classes/universelayer.js"></script>

<script src="js/components/universe.js"></script>
<script src="js/components/shrinker.js"></script>
<script src="js/components/shrinker-table.js"></script>
<script src="js/components/upgrade.js"></script>
<script src="js/components/upgrade-container.js"></script>
<script src="js/components/universe-layer.js"></script>
<script src="js/components/universe-layer-navigation.js"></script>
<script src="js/components/notation-select.js"></script>
<script src="js/components/theme-select.js"></script>

<script src="js/data/functions.js"></script>
<script src="js/data/computed.js"></script>
<script src="js/data/game.js"></script>

<script src="js/main.js"></script>
</body>
</html>